/* #product_ingredients > div.inside > div > span > span.selection > span > ul > li {
    margin: 0 !important;
}
.select2-search__field {
    padding: 5px 10px !important;
}
#select2-product_ingredients-results > li {
    padding: 10px 10px !important;
} */
