.dark-mode-swtich > div {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
}

.dark-mode-swtich .wp-dark-mode-ignore {
    background: unset !important;
    width: 36px !important;
    left: 10px !important;
}
.vmh_user_earning.vmh_user_earning.vmh_user_earning {
    width: 20px;
    height: 25px;
    margin-top: -4px;
}
body > .wp-dark-mode-switcher {
    display: none !important;
}
.vmh_cart_total_wrapper {
    position: relative;
}
.vmh_cart_total_wrapper > i {
    font-weight: bolder;
    color: white;
    margin-left: 20px;
    font-size: 20px;
    transform: translateY(10%);
}

.cart-empty.woocommerce-info {
    width: 90%;
    margin: 20px auto;
}

.button.wc-backward.button.wc-backward {
    cursor: pointer;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: 15px;
    margin: 30px 0;
    margin-left: 95px;
}

.vmh_checkout_form {
    display: none;
}
.checkout_form_active {
    display: block;
}

.vmh_checkout_btn.vmh_checkout_btn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shipping_menu a {
    pointer-events: none;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: unset !important;
}

.woocommerce_checkout_place_order.woocommerce_checkout_place_order.woocommerce_checkout_place_order {
    height: 41px !important;
    width: 101px !important;
    border-radius: 4px !important;
    background: #324b4b !important;
    border: navajowhite !important;
    color: #fff !important;
    font-size: 13px !important;
    border: 1px solid transparent !important;
    transition: 0.3s !important;
    font-weight: 700 !important;
    white-space: nowrap !important;
}
.woocommerce-error {
    width: 790px;
    margin: 0 auto;
    margin-top: 200px;
}

.vmh_subtotal.vmh_subtotal {
    font-size: 18px;
    font-weight: bolder;
    margin-right: 10px;
    text-transform: uppercase;
}

.vmh_single_add_to_cart,
.vmh_button {
    height: 41px !important;
    width: 160px !important;
    border-radius: 4px !important;
    background: #324b4b !important;
    border: navajowhite !important;
    color: #fff !important;
    font-size: 13px !important;
    border: 1px solid transparent !important;
    transition: 0.3s !important;
    font-weight: 700 !important;
}

.vmh_single_add_to_cart.disabled,
.vmh_button.disabled {
    opacity: 0.3 !important;
    cursor: not-allowed !important;
}

.vmh_single_add_to_cart:hover,
.vmh_button:hover {
    background: transparent !important;
    border: 1px solid #324b4b !important;
    color: #324b4b !important;
}

.vmh_recipie_close_btn.vmh_recipie_close_btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12px;
    margin-right: 12px;
}
.reset_variations.reset_variations.reset_variations {
    visibility: visible;
    background: #324b4b;
    color: white;
    padding: 4px 7px;
    font-size: 13px;
    font-weight: bold;
}

.vmh_variable_select.vmh_variable_select > select {
    color: #ffffff !important;
    padding: 2px 20px 2px 5px !important;
    border-radius: 4px !important;
    border: 1px solid transparent !important;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    width: 71px !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    background: #324b4b !important;
    height: 30px !important;
}

.vmh_recipe_create_note {
    width: 100%;
}
#vmh_recipe_name {
    width: 90%;
}
.vmh_cart {
    min-height: 50vh;
    margin-top: 100px;
}
.vmh_product_content {
    word-break: break-all;
}
.vmh_simple_option_value {
    padding: 5px 10px;
    background: #324b4b;
    color: white;
    border-radius: 7px;
    font-size: 14px;
}
.vmh_cart_quantity {
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.woocommerce-MyAccount-navigation {
    background: #324b4b;
}

.woocommerce-MyAccount-navigation li {
    padding: 10px 25px;
}

.woocommerce-MyAccount-navigation li a {
    color: #fff;
    font-weight: bolder;
}

.woocommerce-MyAccount-navigation li:hover a {
    color: brown;
}

.vmh_order_btn {
    height: 30px !important;
    width: 60px !important;
    border-radius: 4px !important;
    background: #324b4b !important;
    border: navajowhite !important;
    color: #fff !important;
    font-size: 13px !important;
    border: 1px solid transparent !important;
    transition: 0.3s !important;
    font-weight: 700 !important;
}

.vmh_order_btn:hover {
    background: transparent !important;
    border: 1px solid #324b4b !important;
    color: #324b4b !important;
}

.woocommerce-order-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em !important;
}
.woocommerce-order-details h2 {
    margin-bottom: 50px;
    margin-top: 40px;
}
.woocommerce-column__title {
    margin-bottom: 45px !important;
}

.u-columns.woocommerce-Addresses {
    margin-top: 25px;
}

.woocommerce-Address-title.title a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.woocommerce-MyAccount-navigation {
    border-radius: 10px;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 25%);
}
.woocommerce-MyAccount-navigation ul {
    padding: 15px 10px;
}

@media screen and (max-width: 700px) {
    .woocommerce-error {
        width: 95%;
    }
}

.vmh_search_modal_close {
    margin-top: 10px;
}
.vmh_serach_close {
    position: relative;
    left: -50%;
    margin-left: 50px;
}

.modal-content {
    background-color: #365d5d;
}
.dgwt-wcas-preloader {
    right: 95px !important;
}
.dgwt-wcas-sp {
    white-space: nowrap;
}

.ingredients_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}

.ingredients_wrapper .cut_selectbox {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.ingredients_wrapper .product_ingredients {
    margin-right: 10px;
}
.ingredients_wrapper .ingredient_percentage {
    margin-right: 10px;
    padding-left: 10px;
    width: 65px;
}

.ingredients_wrapper .ingredient_percentage::placeholder {
    opacity: 0.4;
}

.ingredients_wrapper .disabled {
    color: red;
}

.ingredients_wrapper .add_ingredients_icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.ingredients_wrapper .ss-value {
    background-color: #324b4b !important;
    color: white !important;
    font-weight: bold !important;
}

.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:hover {
    color: #fff;
    background-color: #324b4b !important;
}

.tag_edit_icon {
    font-size: 25px;
    cursor: pointer;
    color: #324b4b;
}
.add_tag_name {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    align-self: end;
    cursor: pointer;
}

.tag_input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
}

.cut_tag {
    margin-right: 10px;
    cursor: pointer;
}

.tags_popup_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tags_popup_container .input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: -5px 0;
}

.recipes_order_tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.recepes_tag_type_input.recepes_tag1.active {
    max-height: 320px;
    overflow-y: scroll;
}

.recepes_btn_content .vmh_discard_recipe {
    font-family: Open Sans;
    font-style: normal;
    display: block;
    margin-top: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 192.3%;
    color: #324b4b;
    text-align: center;
}

.tags_popup_container .save_tag_btn {
    height: 29px;
    width: 77px;
    border-radius: 4px;
    background: #324b4b;
    border: navajowhite;
    color: #fff;
    font-size: 13px;
    border: 1px solid transparent;
    transition: 0.3s;
    font-weight: 700;
    margin-top: 10px;
    align-self: flex-end;
}

.vmh_tag_list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px -5px;
}

.vmh_tag_list .tag_name {
    font-weight: 700;
    font-size: 12px;
    line-height: 23.8px;
    color: #fff;
    padding: 2px 13px;
    background: #7aa637;
    border-radius: 4px;
    display: inline-block;
    margin: 5px;
}

.single_recopies_items .nicotineshot_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 18px;
}

.nicotineshot_container .cart_nicotine_shot_value {
    padding: 2px 10px;
    max-width: calc(100% - 30px);
    width: 100%;
}

.nicotineshot_container .input_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nicotineshot_save_btn {
    color: #fff;
    font-size: 21px;
    cursor: pointer;
}

.cart .quantity {
    display: none;
}

#vmh_recipe_name {
    padding: 5px 15px;
}
#vmh_recipe_name::placeholder {
    font-size: 2rem;
    opacity: 0.2;
}

.create_recipe_option,
.create_recipe_option ~ .recepes_btn {
    display: none;
}

.recipie_create_next_btn {
    width: 95px !important;
    height: 30px !important;
    margin-top: 15px;
}

.woocommerce-notices-wrapper {
    margin-bottom: 60px;
}
