.dark-mode-swtich > div {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
}

.dark-mode-swtich .wp-dark-mode-ignore {
    background: unset !important;
    width: 36px !important;
    left: 10px !important;
}
.vmh_user_earning.vmh_user_earning.vmh_user_earning {
    width: 20px;
    height: 25px;
    margin-top: -4px;
}
body > .wp-dark-mode-switcher {
    display: none !important;
}
.vmh_cart_total_wrapper {
    position: relative;
}
.vmh_cart_total_wrapper > i {
    font-weight: bolder;
    color: white;
    margin-left: 20px;
    font-size: 20px;
    transform: translateY(10%);
}

.cart-empty.woocommerce-info {
    width: 90%;
    margin: 20px auto;
}

.button.wc-backward.button.wc-backward {
    cursor: pointer;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: 15px;
    margin: 30px 0;
    margin-left: 95px;
}

.vmh_checkout_form {
    display: none;
}
.checkout_form_active {
    display: block;
}

.vmh_checkout_btn.vmh_checkout_btn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shipping_menu a {
    pointer-events: none;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: unset !important;
}

.woocommerce_checkout_place_order.woocommerce_checkout_place_order.woocommerce_checkout_place_order {
    height: 41px !important;
    width: 101px !important;
    border-radius: 4px !important;
    background: #324b4b !important;
    border: navajowhite !important;
    color: #fff !important;
    font-size: 13px !important;
    border: 1px solid transparent !important;
    transition: 0.3s !important;
    font-weight: 700 !important;
    white-space: nowrap !important;
}
.woocommerce-error {
    width: 790px;
    margin: 0 auto;
    margin-top: 200px;
}

.vmh_subtotal.vmh_subtotal {
    font-size: 18px;
    font-weight: bolder;
    margin-right: 10px;
    text-transform: uppercase;
}

.vmh_single_add_to_cart,
.vmh_button,
.um-button {
    height: 41px !important;
    width: 160px !important;
    border-radius: 4px !important;
    background: #324b4b !important;
    border: navajowhite !important;
    color: #fff !important;
    font-size: 13px !important;
    border: 1px solid transparent !important;
    transition: 0.3s !important;
    font-weight: 700 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.vmh_single_add_to_cart.disabled,
.vmh_button.disabled {
    opacity: 0.3 !important;
    cursor: not-allowed !important;
}

a.disabled {
    pointer-events: none !important;
}

.vmh_single_add_to_cart:hover,
.vmh_button:hover,
.um-button:hover {
    background: transparent !important;
    border: 1px solid #324b4b !important;
    color: #324b4b !important;
}

.vmh_recipie_close_btn.vmh_recipie_close_btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12px;
    margin-right: 12px;
}
.reset_variations.reset_variations.reset_variations {
    visibility: visible;
    background: #324b4b;
    color: white;
    padding: 4px 7px;
    font-size: 13px;
    font-weight: bold;
}

.vmh_variable_select.vmh_variable_select > select {
    color: #ffffff !important;
    padding: 2px 20px 2px 5px !important;
    border-radius: 4px !important;
    border: 1px solid transparent !important;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    width: 135px !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    background: #324b4b !important;
    height: 30px !important;
}

.vmh_recipe_create_note {
    width: 100%;
}
#vmh_recipe_name {
    width: 90%;
}
.vmh_cart {
    min-height: 60vh;
    margin-top: 45px;
}
.vmh_product_content {
    word-break: break-all;
}
.vmh_simple_option_value {
    padding: 5px 10px;
    background: #324b4b;
    color: white;
    border-radius: 7px;
    font-size: 14px;
}
.vmh_cart_quantity {
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.woocommerce-MyAccount-navigation {
    background: #324b4b;
}

.woocommerce-MyAccount-navigation li {
    padding: 10px 25px;
}

.woocommerce-MyAccount-navigation li a {
    color: #fff;
    opacity: 0.6;
    font-weight: bolder;
}

.woocommerce-MyAccount-navigation li:hover a {
    opacity: 1;
}

.vmh_order_btn {
    height: 30px !important;
    width: 60px !important;
    border-radius: 4px !important;
    background: #324b4b !important;
    border: navajowhite !important;
    color: #fff !important;
    font-size: 13px !important;
    border: 1px solid transparent !important;
    transition: 0.3s !important;
    font-weight: 700 !important;
}

.vmh_order_btn:hover {
    background: transparent !important;
    border: 1px solid #324b4b !important;
    color: #324b4b !important;
}

.woocommerce-order-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em !important;
}
.woocommerce-order-details h2 {
    margin-bottom: 50px;
    margin-top: 40px;
}
.woocommerce-column__title {
    margin-bottom: 45px !important;
}

.u-columns.woocommerce-Addresses {
    margin-top: 25px;
}

.woocommerce-Address-title.title a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.woocommerce-MyAccount-navigation {
    /* border-radius: 10px; */
    box-shadow: 0px 4px 24px rgb(0 0 0 / 25%);
}
.woocommerce-MyAccount-navigation ul {
    padding: 15px 10px;
}

@media screen and (max-width: 700px) {
    .woocommerce-error {
        width: 95%;
    }
}

.vmh_search_modal_close {
    margin-top: 10px;
}
.vmh_serach_close {
    position: relative;
    left: -50%;
    margin-left: 50px;
}

.modal-content {
    background-color: #365d5d;
}
.dgwt-wcas-preloader {
    right: 95px !important;
}
.dgwt-wcas-sp {
    white-space: nowrap;
}

.ingredients_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}

@media screen and (max-width: 512px) {
    .ingredients_wrapper {
        flex-wrap: wrap;
        gap: 0.7rem;
    }
}

.ingredients_wrapper .cut_selectbox {
    margin-right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.ingredients_wrapper .product_ingredients {
    margin-right: 10px;
}
.ingredients_wrapper .ingredient_percentage {
    margin-right: 10px;
    padding-left: 10px;
    width: 65px;
}

.ingredients_wrapper .ingredient_percentage::placeholder {
    opacity: 0.4;
}

.ingredients_wrapper .disabled {
    color: red;
}

.ingredients_wrapper .add_ingredients_icon {
    font-size: 25px;
    cursor: pointer;
}
.ingredients_wrapper .ss-value {
    background-color: #324b4b !important;
    color: white !important;
    font-weight: bold !important;
}

.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:hover {
    color: #fff;
    background-color: #324b4b !important;
}

.tag_edit_icon {
    font-size: 25px;
    cursor: pointer;
    color: #324b4b;
}
.add_tag_name {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    align-self: end;
    cursor: pointer;
}

.tag_input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
}

.cut_tag {
    margin-right: 10px;
    cursor: pointer;
}

.tags_popup_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tags_popup_container .input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: -5px 0;
}

.recipes_order_tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.recepes_tag_type_input.recepes_tag1.active {
    max-height: 320px;
    overflow-y: scroll;
}

.recepes_btn_content .vmh_discard_recipe {
    font-family: Open Sans;
    font-style: normal;
    display: block;
    margin-top: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 192.3%;
    color: #324b4b;
    text-align: center;
}

.tags_popup_container .save_tag_btn {
    height: 29px;
    width: 77px;
    border-radius: 4px;
    background: #324b4b;
    border: navajowhite;
    color: #fff;
    font-size: 13px;
    border: 1px solid transparent;
    transition: 0.3s;
    font-weight: 700;
    margin-top: 10px;
    align-self: flex-end;
}

.vmh_tag_list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px -5px;
}

.vmh_tag_list .tag_name {
    font-weight: 700;
    font-size: 12px;
    line-height: 23.8px;
    color: #fff;
    padding: 2px 13px;
    background: #7aa637;
    border-radius: 4px;
    display: inline-block;
    margin: 5px;
}

.single_recopies_items .nicotineshot_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 18px;
}

.nicotineshot_container .cart_nicotine_shot_value {
    padding: 2px 10px;
    max-width: calc(100% - 30px);
    width: 100%;
}

.nicotineshot_container .input_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nicotineshot_save_btn {
    color: #fff;
    font-size: 21px;
    cursor: pointer;
}

.tooltip-arrow::before {
    border-right-color: #fff !important;
}

.tooltip-inner {
    background-color: #324b4b !important;
    font-size: 1rem;
    pointer-events: none !important;
    max-width: 280px !important;
}

.cart .quantity {
    display: none;
}

#vmh_recipe_name {
    padding: 10px 15px 5px 15px;
}
#vmh_recipe_name::placeholder {
    font-size: 2rem;
    opacity: 0.2;
}

.create_recipe_option,
.create_recipe_option ~ .recepes_btn {
    display: none;
}

.recipie_create_next_btn {
    width: 100px !important;
    height: 35px !important;
    margin-top: 15px;
}

.woocommerce-notices-wrapper {
    margin-bottom: 60px;
    display: none;
}

.vmh_cart_total_container {
    margin-top: 50px;
}

.vmh_nicotine_shot_card {
    margin-top: 30px;
    background-color: #324b4b;
    color: #fff;
    max-width: 300px;
    border-radius: 6px !important;
}

.vmh_nicotine_shot_card .card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}
.vmh_nicotine_shot_card .input_container {
    width: 100%;
}
.vmh_nicotine_shot_card .cart_nicotine_shot_value {
    padding: 2px 10px;
    max-width: calc(100% - 30px);
    width: 100%;
    margin-right: 5px;
}

.woocommerce-MyAccount-content {
    background: white;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 25%);
    padding: 2rem;
    margin-bottom: 70px;
}
.woocommerce-MyAccount-content .vmh_button {
    margin-top: 1rem !important;
}

.price_box {
    display: none;
}

.price_box .symbol {
    color: #77a464;
    font-size: 1.25em;
}
.price_box .price {
    color: #77a464;
    font-size: 1.25em;
    margin-left: -3px;
}
.price_box.active {
    display: block;
}
.woocommerce-variation-price {
    display: none;
}

.create_recipe_add_to_cart_popup {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.create_recipe_add_to_cart_popup > a {
    margin-bottom: 0px;
}

.vmh_woocommerce_notice {
    display: block;
}

.vmh-response-msg .wc-forward {
    display: none !important;
}

.vmh-response-msg p {
    color: #000;
    font-size: 1rem;
}

.wp-dark-mode-switcher.active .vmh-response-msg h4 {
    color: #fff;
}
.single_recopies_items.cart_single_item {
    cursor: auto;
}

.create_recipe_add_to_cart_popup .vmh_button {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.woocommerce-breadcrumb {
    display: none;
}

#main {
    padding: 0 1.5rem;
}
.fee {
    font-weight: bold;
    margin-top: 20px;
}

.swal-overlay.swal-overlay--show-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swal-modal {
    max-width: 512px;
}
.swal-title {
    font-family: "BALOO";
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #324b4b !important;
    font-weight: normal;
}
.swal-text {
    color: #324b4b !important;
    text-align: center;
}
.swal-button-container button {
    background-color: #324b4b;
    font-family: "BALOO";
    outline: none;
    color: #fff;
    font-weight: normal;
}
.swal-button-container button:hover,
.swal-button-container button:active,
.swal-button-container button:focus {
    background-color: #324b4b !important;
    box-shadow: unset !important;
}

.vmh_wc_notice_text {
    display: none !important;
}

.shiping_icon_area ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vmh_profile {
    background-color: unset;
    border-color: unset;
    padding: unset;
    color: #fff;
    border: none;
}
.vmh_profile:hover,
.vmh_profile:active,
.vmh_profile:focus {
    background-color: unset;
    border-color: #141d1d;
}

.vmh_profile_dropdown .dropdown-menu {
    background: #141d1d;
}
.vmh_profile_dropdown .dropdown-item {
    color: #fff;
    transition: 0.3s;
}

.vmh_profile_dropdown .dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
    color: #8cdad9;
    opacity: 1;
    background-color: unset;
}

.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads,
.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--mwb_subscriptions,
.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-account,
.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--dashboard {
    display: none;
}

.recipes_order_tags,
.vmh_tag_list,
.recepes_profile {
    display: none;
}
.recepes_left {
    min-width: 200px;
}

.cart_single_nicotine_shot_value {
    display: none;
}
.wc-no-matching-variations.woocommerce-info {
    margin-top: 1rem !important;
}
.woocommerce-info {
    border-top-color: #324b4b !important;
}
.woocommerce-info::before {
    color: #324b4b !important;
}
.wc-item-meta li {
    display: flex !important;
    justify-content: flex-start !important;
    width: 100% !important;
    align-items: center !important;
}

.woocommerce-MyAccount-navigation,
.woocommerce-MyAccount-content {
    border-radius: 8px;
}

.recipes_create_buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.reload_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.um-profile-body {
    max-width: 100% !important;
}

.vmh_inside_profile {
    margin-top: 40px;
    justify-content: center;
}

.um-profile-nav {
    background-color: #324b4b;
}

.um-profile-nav-item.active a {
    background-color: #63d7d694 !important;
}
@media screen and (max-width: 560px) {
    .vmh_inside_profile {
        padding-right: 40px !important;
    }
}

.um-button.um-button.um-button {
    font-weight: bold !important;
    border: 1px solid #324b4b !important;
}

.um-dropdown {
    border: none !important;
}

.um-dropdown ul {
    background: #324b4b !important;
    border-radius: 6px !important;
}
.um-dropdown ul a,
.um-account-side ul li span,
.um-account-side ul li a {
    color: #fff !important;
    transition: 0.3s;
    border: none !important;
}

.um-dropdown ul a:hover,
.um-account-side ul li a:hover {
    color: #8cdad9 !important;
}

.um-account-side ul li a:hover {
    background: #324b4b !important;
}

.um-account-side ul li a:hover span,
.um-account-link.current span {
    color: #8cdad9 !important;
}

.um-profile-edit {
    margin-right: -5px !important;
}

.um-account-side ul li {
    background: #324b4b !important;
    border-radius: 5px;
}

.vmh_profile_container,
.vmh_um_account_container {
    padding: 2rem;
    box-shadow: -2px 2px 19px -3px rgba(130, 122, 122, 0.76);
    -webkit-box-shadow: -2px 2px 19px -3px rgba(130, 122, 122, 0.76);
    -moz-box-shadow: -2px 2px 19px -3px rgba(130, 122, 122, 0.76);
    border-radius: 8px;
}
.vmh_um_account_container .um-account {
    margin-bottom: 0 !important;
}
.um-profile.um-viewing {
    padding-bottom: 15px !important;
}

.woocommerce div.product form.cart .variations select {
    width: 100% !important;
}

.header_main_area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.cart_main {
    padding: 0px 30px;
}

.wpcf7-spinner {
    margin: 20px 0 !important;
}

.recepes_btn_content .tooltip-inner {
    background-color: #324b4b !important;
    pointer-events: none !important;
}

.footer_left_area {
    display: none;
}
.table.woocommerce-orders-table.account-orders-table {
    margin: 0 !important;
}

.login_main .container {
    padding: 150px 0px 80px 0px;
}

.banner_content_area h3 {
    max-width: 400px;
}
